body {
  background-color: peachpuff
}
nav {
  background-color: coral;
  align-self: auto
}

img {
  width:500px
}

footer {
  background-color: pink;
}

.white {
  color: white;
}

.bannerImage {
  width:100%;
  position: fit-content;
  padding: 0px;
  margin: 0px;
}

input {
  color: black
}
