body {
  background-color: peachpuff
}
nav {
  background-color: coral;
  align-self: auto
}

img {
  width: 50%;
  height: 50%
}


footer {
  background-color: pink;
}

.white {
  color: white;
}

.bannerImage {
  width:100%;
  position: fit-content;
  padding: 0px;
  margin: 0px;
}