nav {
  background-color: #6F6F79
}

img {
  width: 50%;
  height: 50%
}


footer {
  background-color: #4D4D52;
}

.white {
  color: white;
}

.bannerImage {
  width:100%;
  position: fit-content;
  padding: 0px;
  margin: 0px;
}

input {
  color: black
}
